/* GRID */
.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 2rem;
}

/* GRID ITEM */
.grid-item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    gap: .5rem;
    overflow: hidden;
    padding: .75rem;
    background-color: var(--bg);
    backdrop-filter: blur(1px);
    width: 100%;
    height: min-content;
    color: var(--color);
}

.grid-item:hover {
    cursor: pointer;
}

.grid-item-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: hidden;
    background-color: var(--accent);
    width: 100%;
    height: min-content;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.grid-item-container:hover {
    scale: 1.1;
    z-index: 999;
}

.grid-item img {
    aspect-ratio: 1;
    user-select: none;
    object-fit: contain;
    border-radius: var(--border-radius);
}

.grid-item .grid-content-line {
    height: .05rem;
    width: 80%;
    background-color: var(--accent);
}

.grid-item .title {
    font-size: 1.1rem;
    display: flex;
    word-break: break-all;
    color: var(--color);
}
.grid-item .title:hover {
    text-decoration: underline;
}

.grid-item .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.button {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    padding: .5rem;
    border: 1px solid var(--accent);
    gap: .5rem;
    background-color: var(--accent);
    width: 100%;
    color: white;
}
.button :where(svg, img) {
    width: 1.2rem;
}

.clipped {
    clip-path: var(--ui-notch-path);
}
.clipped::before {
    content: "";
    position: absolute;
    bottom: auto;
    top: 5px;
    right: -6px;
    height: 3px;
    width: var(--ui-notch-hypotenuse);
    transform: rotate(45deg);
    background-color: var(--border-color);
}

