.page-select-container {
    display: flex;
    height: min-content;
    align-self: center;
    padding: 1rem;
}
.page-select-container > div:nth-child(2) {
    align-self: center;
    padding: 0 1rem;
}