@page "/About"
<h3>Om os</h3>

<p>Velkommen til vores side! Vi er en virksomhed baseret i det smukke Danmark, og vores mission er at levere en enestående online shoppingoplevelse, der kombinerer bekvemmelighed, kvalitet og respekt for privatlivet.
   
   I hjertet af vores forretningsfilosofi står værdien af privatliv. Vi værdsætter og respekterer dine personlige oplysninger og er fast besluttede på at sikre, at din onlineoplevelse er sikker og tryg. Derfor bruger vi ingen irriterende cookies, der sporer dine bevægelser på internettet. Vi tror på, at din onlineaktivitet er din egen, og det er vores fornemste opgave at bevare dit privatliv.
   
   Vores websted er designet med en brugervenlig tilgang, der gør det simpelt og let at handle online. Vi ønsker at gøre din shoppingoplevelse så problemfri som muligt, så du kan finde de produkter, du elsker, og gennemføre dine køb på en bekvem måde. Vores enkle og intuitive grænseflade gør det nemt at navigere, finde det, du leder efter, og fuldføre din ordre med lethed.
   
   Tak fordi du har valgt os som din online shoppingdestination. Vi er stolte af at være en del af det danske fællesskab og ser frem til at betjene dig med vores dedikation til kvalitet, privatliv og en problemfri online shoppingoplevelse.</p>

<img src="icons/icon.png" alt="Logo">

@code {
    
}