@page "/browse/{categoryId?}"
@page "/browse"
@using global::Shared
@using BlazorWasm.Services.Http
@using WebShop.Services.HTTP
@using BlazorWasm.Services
@inject NavigationManager NavigationManager


<div class="brp-container">

    <div class="brp-content">
        <Grid>
            @foreach (Product product in products)
            {
                <GridItem
                    Id=@product.Id
                    Img=@product.Image
                    name=@product.name
                    amount=@product.amount
                    description=@product.description
                    price=@product.Price
                    InStock=@product.InStock/>
            }

        </Grid>

    </div>

</div>



@code {
    private List<Product> products = new();
    private ProductService _productService = ProductService.getInstance();
    private SearchService _searchService = SearchService.getInstance();

    [Parameter] public string categoryId { get; set; }
    //private int categoryId;
    private int Category;

    protected override async Task OnInitializedAsync()
    {
        try {
            _searchService.on("search", e => {
                UpdateProducts();
            });
            UpdateProducts();
        } catch (Exception e) {
            Console.WriteLine(e);
        }
    }

    private async Task UpdateProducts()
    {
        List<int> categories = new();
        if (!string.IsNullOrEmpty(categoryId)) {
            Category = int.Parse(categoryId);
            if (Category != 0) {
                categories.Add(Category);
                _searchService.SetCurrentCategories(categories);
            }
        }
        else
        {
            _searchService.SetCurrentCategories(categories);
        }
        
        products = await _searchService.Search();
        StateHasChanged();
    }
}