@page "/contact"
@inject IJSRuntime JSRuntime

<div class="ct-container">
    <h3>Send en mail til os!</h3>
    
    <form class="emailform" @onsubmit="OpenDefaultEmailClient">
        <label>Emne:</label>
        <input @bind="Email.Subject" />
        @if (subjectError) {
            <div class="error">Emnet kan ikke være tom</div>
        }
    
        <label>Besked:</label>
        <textarea @bind="Email.Body"></textarea>
        @if (bodyError) {
            <div class="error">Beskeden kan ikke være tom</div>
        }
    
        <button class="primary-button" type="submit">Send mail</button>
        
        <h2>Telefon</h2>
        <p>(+45) 85 83 85 83</p>
        
    </form>
</div>


@code {
    private EmailModel Email = new();
    private bool subjectError;
    private bool bodyError;

    private void OpenDefaultEmailClient() {
        subjectError = string.IsNullOrWhiteSpace(Email.Subject);
        bodyError = string.IsNullOrWhiteSpace(Email.Body);

        if (subjectError || bodyError) {
            return;
        }

        var mailtoLink = $"mailto:{Email.To}?subject={Uri.EscapeDataString(Email.Subject)}&body={Uri.EscapeDataString(Email.Body)}";
        JSRuntime.InvokeVoidAsync("open", mailtoLink);
    }

    private class EmailModel {
        public string To = "shadow@share.inc";
        public string Subject { get; set; }
        public string Body { get; set; }
    }
}
