@page "/form"
@using BlazorWasm.Services
@using WebShop.Shared.Exceptions

@inject NavigationManager NavigationManager
@inject IValidationService ValidationService
@inject IFormService FormService

<div class="form-container">
    <div class="form-content">
        <div class="form-group">
            <form @onsubmit="ValidateForm">
                <div class="form-row">
                    <FormInput @bind-Prop=FirstName Name="FirstName" Text="Fornavn" />
                    <FormInput @bind-Prop=LastName Name="LastName" Text="Efternavn" />
                </div>
                <div class="form-row">
                    <FormInput @bind-Prop=Address Name="Address" Text="Addresse" />
                    <FormInput @bind-Prop=ZipCode Name="ZipCode" Text="Postnummer" Min="0" Type="number" />
                </div>
                <FormInput @bind-Prop=PhoneNumber Name="PhoneNumber" Text="Telefon nr." Min="0" Type="number" />
                <FormInput @bind-Prop=Email Name="Email" Text="Email" />

                <br>
                <p class="validation-error">@ValidationMessage</p>
                <!-- disable submit until "FormIsValid" is true -->
                <div class="form-row">
                	<div class="secondary-button round" @onclick="GoBack">Tilbage</div>
                	<div class="primary-button round" @onclick="ValidateForm">Bekræft</div>
                </div>
            </form>
        </div>
        <OrderSummary ShowCheckout="false" />
    </div>
</div>

@code {
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string Address { get; set; }
    public int ZipCode { get; set; }
    public int PhoneNumber { get; set; }
    public string Email { get; set; }
    
    public string ValidationMessage = "";

    private void GoBack() {
        NavigationManager.NavigateTo("/basket");
    }

    protected override void OnInitialized() {
        FirstName = FormService.FirstName;
        LastName = FormService.LastName;
        Address = FormService.Address;
        ZipCode = FormService.ZipCode;
        PhoneNumber = FormService.PhoneNumber;
        Email = FormService.Email;

        base.OnInitialized();
    }
    
    private void ValidateForm() {
        ValidationMessage = "";

        try {
            FormService.FirstName = ValidationService.ValidateName(FirstName);
            FormService.LastName = ValidationService.ValidateName(LastName);
            FormService.Address = ValidationService.ValidateAddress(Address);
            FormService.ZipCode = ValidationService.ValidateZipCode(ZipCode);
            FormService.PhoneNumber = ValidationService.ValidatePhoneNumber(PhoneNumber);
            FormService.Email = ValidationService.ValidateEmail(Email);
            NavigationManager.NavigateTo("/payment");
        } catch (InvalidInputException e) {
            ValidationMessage = e.Message;
        } catch (Exception e) {
            Console.WriteLine(e.Message);
        }
    }
}
