@page "/form"
@inject NavigationManager Nvm

<div class="forum-container">
  <div class="forum-content">
    <div class="forum-group">
      <form @onsubmit="Submit">
        <label for="FirstName">Fornavn:</label><br>
        <div class="forum-input round">
          <input type="text" @bind="FirstName" id="FirstName" name="FirstName">
        </div><br>
        <label for="LastName">Efternavn:</label><br>
        <div class="forum-input round">
          <input type="text" @bind="LastName" id="LastName" name="LastName">
        </div><br>
        <label for="Address">Adresse:</label><br>
        <div class="forum-input round">
          <input type="text" @bind="Address" id="Address" name="Address">
        </div><br>
        <label for="ZipCode">Postnummer:</label><br>
        <div class="forum-input round">
          <input type="number" @bind="ZipCode" id="ZipCode" name="ZipCode" min="0">
        </div><br>
        <label for="PhoneNumber">Telefon nr.:</label><br>
        <div class="forum-input round">
          <input type="number" @bind="PhoneNumber" id="PhoneNumber" name="PhoneNumber" min="0">
        </div><br>
        <label for="Email">Email:</label><br>
        <div class="forum-input round">
          <input type="text" @bind="Email" id="Email" name="Email">
        </div><br><br>
        
        <div class="primary-button round" @onclick="Submit">Bekræft</div>
      </form> 
    </div>
  </div>
</div>


     @code {
  
  [Parameter] public string FirstName { get; set; }
  [Parameter] public string LastName { get; set; }
  [Parameter] public string Address { get; set; }
  [Parameter] public int ZipCode { get; set; }
  [Parameter] public int PhoneNumber { get; set; }
  [Parameter] public string Email { get; set; } 

  public void Submit()
  {
    //code here trust man
    var instance = FormService.getInstance();

    instance.FirstName = FirstName;
    instance.LastName = LastName;
    instance.Address = Address;
    instance.ZipCode = ZipCode;
    instance.PhoneNumber = PhoneNumber;
    instance.Email = Email;
    
    Nvm.NavigateTo("/betaling");
  }
  
}