@page "/"
@using global::Shared
@using BlazorWasm.Services.Http
@using BlazorWasm.Services
@inject IProductService ProductService

<div class="ho-container">
	
	<Navbar></Navbar>
	
	<div class="ho-content">
		<div class="ho-box-group">
			
			<CategoryBox
				Img="https://images.unsplash.com/photo-1606131731446-5568d87113aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2Vyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
				title="Burger"
				desc="this is a descriptor"/>

			<CategoryBox
				Img="https://images.unsplash.com/photo-1606131731446-5568d87113aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2Vyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
				title="RealTest"
				desc="RealDesc"/>

			<CategoryBox
				img=""
				title="box 3"
				desc="descriptor 3"/>
			
			<CategoryBox
				img=""
				title="box 4"
				desc="descriptor 4"/>
			
			<CategoryBox
				img=""
				title="box 5"
				desc="descriptor 5"/>
			
			
			<CategoryBox
				img=""
				title="box 6"
				desc="descriptor 6"/>
		</div>
	</div>
</div>