@page "/"
@using global::Shared
@using BlazorWasm.Services.Http
@using BlazorWasm.Services
@using WebShop.Services.HTTP
@using WebShop.Shared.DTOs


<div class="ho-container">
	
	<Navbar></Navbar>
	
	<div class="ho-content">
		<div class="ho-box-group">
			
			@foreach (var category in Categories) {
				<CategoryBox
					id=@category.id
					Img="https://images.unsplash.com/photo-1606131731446-5568d87113aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnVyZ2Vyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
					title=@category.name
					desc="this is a descriptor"/>
			}
		</div>
	</div>
</div>

@code {
	private List<CategoryDto> Categories = new();
	private CategoryService _categoryService = CategoryService.getInstance();

	protected override async Task OnInitializedAsync()
	{
		
		try {
			if (_categoryService.GetCategories() == null){
				Categories = await _categoryService.UpdateCategory();
			} else {
				_categoryService.UpdateCategory();
				Categories = _categoryService.GetCategories();
			}
			StateHasChanged();
		} catch (Exception e) {
			Console.WriteLine(e);
		}
		
	}
}