@page "/login"
@using BlazorWasm.Services
@inject IAuthService authService
@inject NavigationManager navMgr

@layout EmptyLayout

<AuthorizeView>
    <NotAuthorized>
        <form @onsubmit="LoginAsync">
            <div class="card">
                <h3>Please login</h3>
                <div class="field">
                    <input placeholder="Username" type="text" @bind="Username"/>
                </div>
                <div class="field">
                    <input placeholder="Password" type="password" @bind="Password"/>
                </div>
                @if (!string.IsNullOrEmpty(ErrorLabel)) {
                <div class="field">
                    <label style="color: red">
                        @ErrorLabel
                    </label>
                </div>
                }
                <div class="field">
                    <input type="submit" class="button" value="Log in" />
                </div>
            </div>
        </form>
       
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string Username;
    private string Password;
    private string ErrorLabel;

    private async Task LoginAsync() {
        ErrorLabel = "";
        try {
            await authService.LoginAsync(Username, Password);
            navMgr.NavigateTo("/admin");
        } catch (Exception e) {
            Console.WriteLine(e);
            ErrorLabel = $"Error: {e.Message}";
        }
    }
}

