@page "/betaling"
@using System.Runtime.InteropServices.JavaScript
@inject NavigationManager Nvm

<div class="forum-container">
  <div class="forum-content">
     <div class="forum-group">
        <form @onsubmit="Submit">
          <label for="Kortnummer">Kortnummer:</label><br>
          <div class="forum-input round">
            <input type="number" @bind="CardNumber" id="CardNumber" name="CardNumber" min="0">
          </div><br>
          <label for="ExpirationDate">Udløbsdato:</label><br>
          <div class="forum-input round">
            <input type="date" @bind="ExpirationDate" id="ExpirationDate" name="ExpirationDate" min="<?php echo date('Y-m-d');?>">
          </div><br>
          <label for="CVC">CVC:</label><br>
          <div class="forum-input round">
            <input type="number" @bind="CVC" id="CVC" name="CVC" min="0">
          </div><br><br>
          
          <div class="forum-content">
            <div class="secondary-button round forum-inline" @onclick="Previous">Tilbage</div>
            <div class="primary-button round forum-inline" @onclick="Submit">Bekræft</div>
          </div>
          
        </form>
      </div>
  </div>
</div>


@code {
  
  [Parameter] public int CardNumber { get; set; }
  [Parameter] public DateOnly ExpirationDate { get; set; }
  [Parameter] public int CVC { get; set; }
  
  public void Submit()
  {
    //code here trust man
    var instance = FormService.getInstance();
    
    
    instance.CardNumber = CardNumber;
    instance.ExpirationDate = ExpirationDate;
    instance.CVC = CVC;


    Console.WriteLine(CardNumber);
    Console.WriteLine(CVC);
    Console.WriteLine(ExpirationDate);
    
    
    instance.sendToLogic();

    Nvm.NavigateTo("/Kvittering");

  }

  private void Previous()
  {
    Nvm.NavigateTo("/form");
  }
}