* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--offwhite);
    font-family: "OCR A";
}
body, html {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-1);
    
    --color: rgba(80, 80, 80, 0.15);
    background-color: var(--dark-1);
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 80px 80px;
}

::-webkit-scrollbar {
    display: none;
}

#blazor-error-ui {
    display: none;
}

#app {
    padding: .5rem;
    gap: 2rem;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}


input {
    background: transparent !important;
    border: 1px solid var(--dark-6) !important;
}