:root {
    --white: #eee;
    --black: #0e0f19;

    --accent: linear-gradient(45deg, #fc5c7d, #6a82fb);
    --accent: #1066f2; /* BLUEIGO */
    --accent: #10f266; /* GREENIGO */
    --accent: #6610f2; /* INDIGO */

    --red: #d6232f;
    --green: #2cb54c;

    --border-radius: 24px;
}