.pd-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow: hidden;
    overflow-y: auto;
}

.pd-card {
    background-color: var(--bg);
    padding: 1rem;
}

.pd-card h1 {
    outline: none;
    border: none;
}

.pd-separator{
    height: .2rem;
    width: 80%;
    background-color: var(--accent);
    margin-bottom: .4rem;
    margin-top: .4rem;
}

.pd-button {
    width: fit-content;
}
.pd-button div {
    padding-left: 5px;
}
.pd-button img,
.pd-button svg {
    width: 1.5rem;
}

.pd-button-buy {
    padding-right: 20px;
    padding-left: 20px;
}

.pd-image-container {
    display: flex;
    flex: 1 1 auto;
}

.pd-image {
    height: 400px;
    border: 1px solid var(--border-color);
}

.pd-product-actions {
    padding: 0 1rem;
    padding-top: 10rem;
}

.pd-stock {
    font-size: small;
    opacity: 75%;
}

.pd-description {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
