@using global::Shared
@using WebShop.Pages
@using BlazorWasm.Services
@inject IBasketService BasketService

<div class="bp-card">
	<img src="data:image/png;base64, @Image" />
	<div class="bp-title">
		@Name
	</div>
	<div class="bp-product-control">
		<div class="tertiary-icon-button" @onclick="_ => BasketService.RemoveItem(Id)">
			<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M400 256H112"/></svg>
		</div>
		<input type="number" min="1" value="@Quantity"  readonly>
		<div class="tertiary-icon-button" @onclick="_ => BasketService.AddItem(Id)">
			<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 112v288M400 256H112"/></svg>
		</div>
	</div>
	<div class="bp-price">
		@(Price * Quantity)
	</div>
</div>

@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Name { get; set; }
	[Parameter] public int Quantity { get; set; }
	[Parameter] public double Price { get; set; }
	[Parameter] public string Image { get; set; }
}