@using global::Shared
@using WebShop.Pages
@using BlazorWasm.Services
@inject NavigationManager NavigationManager
@inject IBasketService BasketService

<div class="basket">
    <div class="top">
        <Icon Name="cart"/>
        Din kurv
    </div>
    <div class="contents">
        @foreach (var product in _BasketItems.Values)
        {
            <GridItem 
                Id=@product.Id
                Img=@product.Image
                name=@product.name
                Price=@product.Price
                InStock=@product.InStock
                InBasket="true"/>
        }
    </div>
    <div class="basket-info">
        <div class="total">@totalPrice</div>
        <div class="checkout button" @onclick="OnClick">Check ud</div>
    </div>
</div>

@code {
    /*[Parameter] public RenderFragment ChildContent { get; set; }*/
    
    private Dictionary<int, Product> _BasketItems { get; set; }

    private double totalPrice { get; set; }
    
    public void UpdateBasket() {
        _BasketItems = BasketService.GetBasketItems();
        totalPrice = BasketService.GetBasketTotal();
        StateHasChanged();
    }

    public void OnClick() {
        NavigationManager.NavigateTo("/basket");
    }

    protected override Task OnInitializedAsync() {
        BasketService.OnChanged(_ => UpdateBasket());
        UpdateBasket();
        return base.OnInitializedAsync();
    }
}